<html>
<head>
<style>
.header {
  padding: 3px;
  text-align: center;
  background: red;
  color: white;
  font-size: 20px;
  font-family:calibri;
}
.footer {
   left: 0;
   bottom: 0;
   position:fixed;
   width: 100%;
   background-color: red;
   color: white;
   font-size: 20px;
   padding: 10px;
   font-family:calibri;
}


</style>
</head>

<body>
<div class="header">
  <h1>Heart Disease Prediction</h1>
</div>
<p style="font-size:30px ; color:green; font-family:calibri; text-align:center">
Sorry,You Have Heart Disease
</p>
<center>
<img src="https://www.verywellmind.com/thmb/rTW2_MlkI958olTAQjyYDHl2-X8=/1600x1200/smart/filters:no_upscale()/heart_stethoscope-56b36c2d3df78cdfa004d48e.jpg" width="350" height="300">
</center>
<div class="footer">
&emsp; Contact Us<br>
&emsp; smano812001@gmail.com<br>

</div>
</body>
</html>